

body {
background-color: #FFB9B9;
background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

@font-face { font-family: SittingDuck; src: url('fonts/SittingDuckDemoRegular-GOd0Z.otf'); }
p {
font-family: SittingDuck;
font-size: 3vw;
color: #f16faa;
margin: auto;
}
.kiss
{
  width: 3.9vw;
  height: 2.4vw;
}

.bunny
{
  width: 5vw;
  height: 5vw;
}

.hamster
{
  width: 4.15vw;
  height: 2.45vw;
}

.icons
{
  max-width: 100%;
  width: 15vw;
  height: 10vw;
  margin: 1vw;
}

.icon
{
  
  width: 10vw;
  height: 10vw;
  margin: 1vw 1vw 1vw 0.5vw;
}
.info {
  text-align: center;
  margin: auto;
  height: auto;
  width: auto
}



.images {
height:auto;
max-width: 100%;
margin-top: 5vw;
text-align: center;
}

h1 {
font-family: SittingDuck;
font-size: 7vw;
color: #f16faa;
margin: auto;
}

.main {

margin: 10%;
border: dashed;
border-color: lightcoral;
border-radius: 2.5vw;
background-color: #fffdd0;
background-size: contain;

}

.border {

max-width: 50%;
width: 448vw;
heigth: 23vw;
}
